* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #ffbe93;
  padding: 40px 0px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

caption {
  font-size: 35px;
  color: darkred;
  font-weight: bold;
  margin-bottom: 50px;
}

table {
  text-align: center;
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

tr {
  transition: all 0.3 ease;
}

tr:nth-child(odd) {
  background-color: #ff9c5b;
}

tr:nth-child(odd):hover {
  background-color: #ff8e42;
}

tr:nth-child(even):hover {
  background-color: #ffae78;
}

td {
  border: 2px solid #333;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.name {
  color: black;
  font-weight: 600;
}

.grade {
  font-weight: 600;
  color: darkred;
}

th {
  border: 2px solid #333;
  padding: 10px;
  text-align: center;
  background-color: rgb(121, 3, 3);
  color: white;
}

thead {
}

tbody {
}

/* @media (max-width: 500px) {

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 600px; 
    border-collapse: collapse;
  }
} */

/* @media (max-width: 500px) {

  table{
    width: 20%;
    margin: 0px 15px;
  
  }
  article {
    gap: 5px;
  }
} */

@media (max-width: 500px) {
  table {
    width: 100%;
    box-shadow: none;
  }

  thead,
  tr,
  th {
    display: none;
  }

  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 15px;
    background-color: #ff9c5b;
    border-radius: 8px;
    overflow: hidden;
  }

  td {
    text-align: right;
    padding: 10px 38px;
    position: relative;
    border: none;
    border-bottom: 1px solid #333;
    width: 220px;
  }

  /* td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    color: darkred;
    text-align: left;
  } */

  td:last-child {
    border-bottom: none;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    color: rgb(121, 3, 3);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    text-align: left;
    position: absolute;
    left: 10px;
     padding: 10px 38px;
  }

  tbody td:nth-child(1)::before {
    content: "Name";
  }

  tbody td:nth-child(2)::before {
    content: "Roll No";
  }

  tbody td:nth-child(3)::before {
    content: "Math";
  }

  tbody td:nth-child(4)::before {
    content: "Science";
  }

  tbody td:nth-child(5)::before {
    content: "English";
  }

  tbody td:nth-child(6)::before {
    content: "Total";
  }

  tbody td:nth-child(7)::before {
    content: "Grade";
  }
}
